$font-heading: Georgia, "Times New Roman", Times, serif;

// colors

$dark: #0c0c0cf0;
$clr-white: #ffffff;
$clr-theme: #05aff2;
$font-heading: Georgia, "Times New Roman", Times, serif;
$bg-color-aqua: #e8eff8;
$bg-color-white: #fff;
$bg-color-black: #1d2228;
$bg-color-light_blue: #05aff2;
